* {
    padding: 0%;
    margin: 0%;
    font-family: "Work Sans", sans-serif;
}

p {
    color: #556070;
}

header nav {
    margin: 0%;
    width: 1260px;
    height: 75px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    width: 190px;
    height: 35;
    margin-top: 25px;
    margin-left: 12px;
}

.link_h {
    padding: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    bottom: 10px;
    left: 250px;

}

#contact1 {
    background-color: #A53DFF;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    left: 270px;
}

.link_h:hover {
    background-color: #A53DFF;
    border-radius: 10px;
}

.img_text {
    display: flex;
}

#me {
    width: 400px;
    height: auto;
    margin-left: 100px;
    margin-top: 8px;
}

.text {
    margin-left: 230px;
    margin-top: 90px;
}

#text1 {
    font-weight: 900;
    font-size: 68px;
    width: 360px;
    color: #0C0B0B;

}

#text2 {
    width: 460px;
    margin-top: 35px;
    margin-left: 160px;
    font-weight: 900;
    font-size: 45px;
    background-color: #E5E1E1;
    padding: 20px;
    padding: 20px 70px;
    color: #0C0B0B;
}

.t_page {
    margin-left: 40%;
}

#co {
    display: inline-block;
    margin-top: 20px;
    margin-left: 288px;
    padding: 15px 55px;
    background-color: #95599f;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
}

#pict {
    display: inline-block;
    image-orientation: flip;
    width: 420px;
    height: auto;
    margin-left: 185px;
    margin-top: 9px;
}

/* end of header */

body {
    background-color: #F6EEF6;
}

.main1 {
    margin: 0%;
    width: 70%;
    margin-left: 17%;
    margin-top: 30px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;

}

.main1 img {
    width: 270px;
    height: 400px;
    padding-top: 50px;
    padding-left: 90px;
}

.main1 h2 {
    color: #132238;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 35%;
    padding-top: 120px;
}

.intro {
    font-size: 12px;
    width: 420px;
    padding-left: 35px;
    padding-top: 20px;
}

.project {
    width: 90px;
    height: auto;
    background-color: #A53DFF;
    margin-left: 20%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    padding: 15px;
}




.main2 {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: #F0F1F3;
}



footer {
    background: #2B384C;
    width: 100%px;
    height: 100px;
    padding: 30px;
    margin-bottom: 0%;

}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: medium;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    bottom: 10px;
    left: 120px;
}

footer a:hover {
    background-color: #e45ae4;
    border-radius: 20px;
}

footer p {
    color: #ffffff;
    padding-left: 38%;
    padding-top: 45px;
}