*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(255, 240, 254);
}
nav {
    background-color: #fff;
    padding: 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0em 1rem;
    display: block;
    

}

nav ul li a:hover {
    background-color: rgb(221, 97, 209);
    border-radius: 5px;
    

}

.contact a{
    background-color: #A53DFF;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600px;
}